
<div class="modal-body">

    <center> <img src="https://www.patientbond.com/hubfs/PB_LOGO_041718_Small@2x.png" height="70" width="90" alt="">
        <br><br><br>
        <div class="form-group">
         <p class="secondary"> Add new Folder</p>
         <textarea name="" id="" cols="70" rows="3" ng-model="add"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
